<%= form_for(date_value) do |f| %>
  <% if date_value.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(date_value.errors.count, "error") %> prohibited this date_value from being saved:</h2>

      <ul>
      <% date_value.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date_v %>
    <%= f.date_select :date_v %>
  </div>

  <div class="field">
    <%= f.label :uf %>
    <%= f.text_field :uf %>
  </div>

  <div class="field">
    <%= f.label :usd %>
    <%= f.text_field :usd %>
  </div>

  <div class="field">
    <%= f.label :gold %>
    <%= f.text_field :gold %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
