<head>
<script>
$(document).ready(function() {
  var js = <%= raw @ufs %>;
  new Morris.Line({
	  // ID of the element in which to draw the chart.
	  element: 'myfirstchart',
	  // Chart data records -- each entry in this array corresponds to a point on
	  // the chart.
	  data: js,
	  // The name of the data record attribute that contains x-values.
	  xkey: 'date_v',
	  // A list of names of data record attributes that contain y-values.
	  ykeys: ['uf','gold','usd'],
	  // Labels for the ykeys -- will be displayed when you hover over the
	  // chart.
	  labels: ['Valor UF','Valor gramo de Oro','Valor USD'],
          lineColors:['green','#cca300', '#ff471a']
	}).on('click', function(i, row){
	  alert(js[i]['date_v']);
	});
});
	
</script>
</head>
<h1>Calculadora Historica</h1>

<div>
	<%= form_tag(home_index_path, method: :get, enforce_utf8: false) do %>
	  <%= select_year(@y.to_i, {:start_year => DateTime.now.year,:end_year => DateTime.now.year - 34, prefix: 'year_selected'}) %>
	  <%= submit_tag 'Mostrar año', name: nil %>
	<% end %>
	<div id="myfirstchart" style="height: 400px; width:1200px;"></div>
</div>
<%= content_tag :div, "", id: "temp_data", data: {temp: @ufs} %>
