<head>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<script>
$(document).ready(function() {
  var js = <%= raw @uf_values %>;
  new Morris.Line({
	  // ID of the element in which to draw the chart.
	  element: 'myfirstchart',
	  // Chart data records -- each entry in this array corresponds to a point on
	  // the chart.
	  data: js,
	  // The name of the data record attribute that contains x-values.
	  xkey: 'date_v',
	  // A list of names of data record attributes that contain y-values.
	  ykeys: ['uf','gold','usd'],
	  // Labels for the ykeys -- will be displayed when you hover over the
	  // chart.
	  labels: ['Valor UF','Valor gramo de Oro','Valor USD'],
          lineColors:['green','#cca300', '#ff471a']
	}).on('click', function(i, row){
	  alert(js[i]['date_v']);
	});
});
	
</script>
<body style="background-color:#e6f2ff;">

</body>
</head>
<div class="col-md-10 col-md-offset-1" style="margin-bottom: 20px;">
<h1 style=" color: #428bca;">Calculadora Historica</h1>
<% if @w.present? %>
	<div class="alert alert-warning" style=" margin-right: 700px;">
	    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
	    No se puede calcular el precio del oro despues del día 07-09-2018
	</div>
<% end %>
</div>


<section style="margin-top: 40px">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-8">
        <div class="widget">
          <div class="panel panel-primary">
            <div class="panel-heading">Calculadora</div>
            <div class="panel-body">
            	<%= form_tag(home_index_path, method: :get, enforce_utf8: false) do %>
					<% if params[:year] %>
						<%= hidden_field_tag 'year', @y %>
					<% end %>
					<div >
						<label for="start" style="margin-left: 15px;">Cantidad: </label>
						<% if @q %>
							<input type="number" id="quantity" name="quantity" value="<%= @q %>" min="1" style="width: 100px;" required step="0.01" />
						<% else %>
							<input type="number" id="quantity" name="quantity" min="1" style="width: 100px;" required step="0.01"/>
						<% end %>
						<%= select_tag(:option, options_for_select([['CLP', 1], ['UF', 2], ['USD', 3], ['Oro (gr)', 4]], @o),class:"btn btn-primary dropdown-toggle") %>
					</div>
					<div >
						<label for="start" style="margin-right: 40px; margin-top: 10px; margin-left: 15px;">Fecha Inicio: </label>
						<input type="date" id="start" name="start" value= "<%= @sd %>" min="1984-01-01" max="<%= @today %>" />
					</div>
					<div >
						<label for="target" style="margin-right: 20px; margin-top: 10px; margin-left: 15px;">Fecha Objetivo:</label>
						<input type="date" id="target" name="target" value="<%= @td %>" min="1984-01-01" max="<%= @today %>"/ >
					</div>
					<div align="right" style="margin-right: 20px; margin-top: 10px">
						<%= submit_tag 'Calcular', name: nil , class: "btn btn-primary" %>
					</div>
			    <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="widget">
        	<% if @target_clp && @ufs &&  @target_usd%>
	            <div class="panel panel-primary">
	          	
		            <div class="panel-heading">Resultados</div>
		            	<div class="panel-body">
					    	<% if @target_clp %>
				      			<div style="margin-top: 10px">
					  				<b>CLP:</b> <%= @target_clp %>
				      			</div>
				    		<% end %>
			    			<% if @ufs %>
			      				<div style="margin-top: 10px">
				  					<b>UF:</b> <%= @ufs %>
			      				</div>
			    			<% end %>
				    		<% if @target_usd %>
				      			<div style="margin-top: 10px">
					  				<b>USD:</b> <%= @target_usd %>
				      			</div>
				    		<% end %>
				    		<% if @target_gold %>
				      			<div style="margin-top: 10px">
					  				<b>Oro(gr):</b> <%= @target_gold %>
				      			</div>
				    		<% end %>
				    	</div>
					</div>
				</div>
			<% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="col-md-10 col-sm-14 col-md-offset-1">
	<div style="overflow: hidden; background-color: #ffffff;" class="panel panel-primary">
	<div class="panel-heading">Inflación en el año <%= @y %></div>
	<div align="right" style="margin-top: 30px; margin-right: 100px;">
	  <%= form_tag(home_index_path, method: :get, enforce_utf8: false) do %>
	    <% if params[:quantity] && params[:start] && params[:target] %>
	      <%= hidden_field_tag 'quantity', @q %>
	      <%= hidden_field_tag 'start', @sd %>
	      <%= hidden_field_tag 'target', @td %>
	      <%= hidden_field_tag 'option', @o %>
	    <% end %>
	    <%= select_tag(:year, options_for_select(@dates_array, @y),class:"btn btn-primary dropdown-toggle") %>
	    <%= submit_tag 'Mostrar año', name: nil, class: "btn btn-primary" %>
	  <% end %>
	</div>
	<div id="myfirstchart" style="height: 400px; width:1200px;"></div>
</div>





<%= content_tag :div, "", id: "temp_data", data: {temp: @uf_values} %>
