<p id="notice"><%= notice %></p>

<h1>Usds</h1>

<table>
  <thead>
    <tr>
      <th>Date v</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usds.each do |usd| %>
      <tr>
        <td><%= usd.date_v %></td>
        <td><%= usd.value %></td>
        <td><%= link_to 'Show', usd %></td>
        <td><%= link_to 'Edit', edit_usd_path(usd) %></td>
        <td><%= link_to 'Destroy', usd, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usd', new_usd_path %>
