<p id="notice"><%= notice %></p>

<p>
  <strong>Date v:</strong>
  <%= @usd.date_v %>
</p>

<p>
  <strong>Value:</strong>
  <%= @usd.value %>
</p>

<%= link_to 'Edit', edit_usd_path(@usd) %> |
<%= link_to 'Back', usds_path %>
