<p id="notice"><%= notice %></p>

<h1>Golds</h1>

<table>
  <thead>
    <tr>
      <th>Date v</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @golds.each do |gold| %>
      <tr>
        <td><%= gold.date_v %></td>
        <td><%= gold.value %></td>
        <td><%= link_to 'Show', gold %></td>
        <td><%= link_to 'Edit', edit_gold_path(gold) %></td>
        <td><%= link_to 'Destroy', gold, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gold', new_gold_path %>
