<p id="notice"><%= notice %></p>

<p>
  <strong>Date v:</strong>
  <%= @gold.date_v %>
</p>

<p>
  <strong>Value:</strong>
  <%= @gold.value %>
</p>

<%= link_to 'Edit', edit_gold_path(@gold) %> |
<%= link_to 'Back', golds_path %>
